
h1{
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: itañic;
    font-size: 7rem;
}

h2{
    front-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 2rem;
}

h3{
    front-family: "Playfair Display", serif;
    font-weight: 300;
    font-size: 1rem;
}